/* Navigation */
body{
    /* overflow: hidden; */
}
header{
    flex-direction: column;
}

nav ul li{
    padding: 0px;
}
nav ul li a{
    font-size:1rem ;
    padding:5px 7px ;
    padding-bottom: 8px;
}
/* Home Section */
#home::before{
    height: 600px;
}
#home{
    height: 464px;
    padding:10px 20px ;
}
#home p{
    font-size: 20px;
}
#home h1{
    font-size: 28px;
}
#home .btn{
    font-size: 13px;
    padding: 5px 10px;
}

/* Services section */
.services .box{
    flex-direction: column;
  
}
.services .box .items{
    margin: 10px auto;
    width: 70%;
}




/* Client-section */
#client-section  #clients .client-item img{
    width: 100%;
    
}


/* Contact section */
#contact-us #contact-box form input{
    width: 200px;
}

#contact-us #contact-box form textarea{
    width: 250px;
}
#contact-us #contact-box form .btn{
    width: 250px;
}


/* Footer */